 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">                    
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a student at the University of Gloucestershire. While here I am studying: Games Engine Programming, Level Design, Audio for Games, Programming Low Level Architecture and Programming High Level Architecture.</p>
                </div>
                <div class="col-lg-4">
                    <p> Before going to university I was a student at Gloucestershire College studying Computer Games Design.  </p>
                </div>
            </div>
        </div>
    </section>