 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">                    
                    <h2>Curriculum Vitae</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        <a>
                            href="downloads/Connor Askew Curriculum Vitae.pdf" target="_blank">Click here for a PDF of my CV
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>