 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">                    
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        I am a student at the University of Gloucestershire. 
                        <br>
                        While here I am studying: Games Engine Programming, Level Design, Audio for Games, 
                        <br>
                        Programming Low Level Architecture and Programming High Level Architecture.
                        <br>
                        <br>
                        Before going to university I was a student at Gloucestershire College studying Computer Games Design.        
                    </p>
                </div>
            </div>
        </div>
    </section>