 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    
                    <hr class="star-primary">
                </div>
            </div>
                <div class="text-center">           
                    <P>
                    Email : Connoraskew@hotmail.com
                        <br><a>
                            href="downloads/Connor Askew Curriculum Vitae.pdf" target="_blank">Click here for a PDF of my CV
                        </a>
                    </P>
            </div>
        </div>
    </section>